body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.form{
    background-color: -webkit-linear-gradient(left, rgba(206,3,50,1) 0%, rgba(171,3,42,1) 44%, rgba(128,0,30,1) 100%);
    background: rgba(206,3,50,1);
    background: -moz-linear-gradient(left, rgba(206,3,50,1) 0%, rgba(171,3,42,1) 44%, rgba(128,0,30,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(206,3,50,1)), color-stop(44%, rgba(171,3,42,1)), color-stop(100%, rgba(128,0,30,1)));
    background: -webkit-linear-gradient(left, rgba(206,3,50,1) 0%, rgba(171,3,42,1) 44%, rgba(128,0,30,1) 100%);
    background: -o-linear-gradient(left, rgba(206,3,50,1) 0%, rgba(171,3,42,1) 44%, rgba(128,0,30,1) 100%);
    background: -ms-linear-gradient(left, rgba(206,3,50,1) 0%, rgba(171,3,42,1) 44%, rgba(128,0,30,1) 100%);
    background: linear-gradient(to right, rgba(206,3,50,1) 0%, rgba(171,3,42,1) 44%, rgba(128,0,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0332', endColorstr='#80001e', GradientType=1 );

    position: relative;
    float: right;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 6px 6px;
}

.header {
    height: 10vh;
}

.form-container {
    height: 87vh;
    width: 20%;
}

.map-container {
    height: 87vh;
    width: 80%;
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 6px 6px;
}

.buttons-form > div{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.main-app {
    display:flex;
    flex-direction:row;
}

.modal-div{
    background-color: #f3f3f3;
    border: 2px solid red;
    width: 50%;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    border-radius: 7px 7px;
    box-shadow: 2px 2px 2px #6b0a3a;
}

.modal-div-twit {
    width: max-content;
    background-color: #f3f3f3;
    border: 2px solid red;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    border-radius: 7px 7px;
    box-shadow: 2px 2px 2px #6b0a3a;
}

.image-drop-div {
    margin: 20px auto;
}

.button-container-right {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    padding: 10px;
}

.button-container-left {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    padding: 10px;
}
