body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.form{
    background: linear-gradient(45deg, #7d84b2 0%, #78ffd6 100%);
    opacity: 0.6;
    position: relative;
    float: right;
    height: 100%;
    width: 100%;
}

.header {
    background: cornflowerblue;
    height: 10vh;
    opacity: 0.8;
}

.form-container {
    height: 87vh;
    width: 20%;
}

.map-container {
    height: 87vh;
    width: 80%;
    border-radius: 0;
}

.buttons-form {
    height: 100%;
}

.buttons-form > div{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.main-app {
    display:flex;
    flex-direction:row;
}

.modal-div{
    background-color: #f3f3f3;
    border: 2px solid red;
    width: 50%;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    border-radius: 7px 7px;
    box-shadow: 2px 2px 2px #6b0a3a;
}

.modal-div-twit {
    width: max-content;
    background-color: #f3f3f3;
    border: 2px solid red;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    border-radius: 7px 7px;
    box-shadow: 2px 2px 2px #6b0a3a;
}

.image-drop-div {
    margin: 20px auto;
}

.button-container-right {
    height: 50%;
}

.button-container-left {
    height: 50%;
}

.MuiButton-sizeLarge-36 {
    height: 45%;
    opacity: 0.7;
    background: #4F628E;
}

.button-container-left > .MuiButton-sizeLarge-36 {
    background-image: url('');
}

.button-container-right > .MuiButton-sizeLarge-36 {
    background-image: url('');
}
